@import "./styles/variables";
@import "./styles/mediaquerys";
@import "./styles/cards";

.input-size {
  margin-top: $margin;
  margin-bottom: $margin;
}

.pointer {
  cursor: pointer;
}
.input-check {
  border: 2px solid $green-color;
}

.check-icon {
  color: $green-color;
}
